name: Fix Terraform file formatting
on:
  # only run on commit and not on PRs to have "style:" commit type separete from PRs
  # pull_request: {}
  push:
    branches:
      - main
jobs:
  formatting:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: terraform fmt
        uses: dflook/terraform-fmt-check@10eaa13fa61437aa51be2d12fafe95f152e3512d
        with:
          path: .
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "docs: automated terraform docs update"
          title: "docs: automated terraform docs update"
          body: Update Terraform files to canonical format using `terraform fmt`
          branch: style/automated-terraform-fmt
